<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- semantic UI -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">

    <!-- adding jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <!-- adding Apache ECharts CDN -->
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.2.1/dist/echarts.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>

    <title>Seismogram</title>

    <style>
      
    </style>

  </head>

  <body>

    {% block contents %}
    {% endblock contents %}

    {% block scripts %}
    {% endblock scripts %}

  </body>
</html>