{% extends 'base.html' %}

{% block contents %}
    <div id="main" style="width: auto;height:400px;"></div>
{% endblock contents %}

{% block scripts %}
    <script type="text/javascript">

        // setup
        var myChart = echarts.init(document.getElementById('main'));

        const makeIndex = (n) => {
            return [...Array(n).keys()]
        };

        const createRowGrid = (
            nRows,
            { margin = 2, top = 5, right = 10, bottom = 5, left = 10 } = {}
        ) => {
            const availableSpace = 100 - (top + bottom);
            const containerSize = (availableSpace - (nRows - 1) * margin) / nRows;
            const indices = makeIndex(nRows);

            return indices.map((idx) => {
                const topOffset = idx * (containerSize + margin) + top;
                const height = containerSize - margin;

                return {
                    top: `${topOffset}%`,
                    height: `${height}%`,
                    left: `${left}%`,
                    right: `${right}%`,
                }
            })
        };

        const trace1 = [
            {% for item in tr1 %}
                {{item}},
            {% endfor %}
        ];

        const trace2 = [
            {% for item in tr2 %}
                {{item}},
            {% endfor %}
        ];

        const trace3 = [
            {% for item in tr3 %}
                {{item}},
            {% endfor %}
        ];

        const trace4 = [
            {% for item in tr4 %}
                {{item}},
            {% endfor %}
        ];

        const trace5 = [
            {% for item in tr5 %}
                {{item}},
            {% endfor %}
        ];

        const grid = createRowGrid(5, {bottom: 10});

        const yAxis = [
            {type: 'value'},
            {gridIndex: 1, type: 'value'},
            {gridIndex: 2, type: 'value'},
            {gridIndex: 3, type: 'value'},
            {gridIndex: 4, type: 'value'}
        ];

        const xAxis = [
            {type: 'time', axisLabel: {show: false}},
            {gridIndex: 1, type: 'time', axisLabel: {show: false}},
            {gridIndex: 2, type: 'time', axisLabel: {show: false}},
            {gridIndex: 3, type: 'time', axisLabel: {show: false}},
            {gridIndex: 4, type: 'time'}
        ];

        const series = [
            {type: 'line', data: trace1, symbolSize: 1}, 
            {type: 'line', data: trace2, yAxisIndex: 1, xAxisIndex: 1, symbolSize: 1}, 
            {type: 'line', data: trace3, yAxisIndex: 2, xAxisIndex: 2, symbolSize: 1}, 
            {type: 'line', data: trace4, yAxisIndex: 3, xAxisIndex: 3, symbolSize: 1},
            {type: 'line', data: trace5, yAxisIndex: 4, xAxisIndex: 4, symbolSize: 1}
        ];
        
        // config
        var option = {
            animation: 'false',
            title: {
                text: 'stream.msd',
                left: 'center'
            },
            tooltip: {
                position: 'top'
            },
            toolbox: {
                feature: {
                    saveAsImage: {
                        title: 'Save as image'
                    },
                    restore: {
                        title: 'restore'
                    }
                },
                top: '5%',
                right: '5%',
                bottom: '10%',
            },
            grid: grid,
            series: series,
            dataZoom: [
                {
                    show: true,   
                    type: 'slider',
                    xAxisIndex: makeIndex(5)
                }
            ],
            xAxis: xAxis,
            yAxis: yAxis
        };

        // render options
        myChart.setOption(option);

        myChart.on('click', event => {
            var timestamp = new Date(event.value[0] * 1000).toISOString();
            var displacement = event.value[1];
            alert(`Timestamp: ${timestamp}\nDisplacement: ${displacement}`)
        });

    </script>
{% endblock scripts %}